* {
    padding: 0;
    margin: 0;
    /* margin 0 removed an issue where I had a scrollbar */
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    text-align: center;
    border: 1px solid white;
    border-radius: 1rem;
    width: 15.6rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 20px;
    background-color: hsl(0, 0%, 100%);
}

p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 0 0 5px 0;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    margin: 10px 0 10px 0;
}

main img {
    max-width: 100%;
    border-radius: 0.75rem;
}

footer {
    width: 250px;
    text-align: center;
}

/* Large devices (laptops/desktops, 992px and up) */
/* in the style-guide, they specified desktop width as 1440px, but I decided not to use exactly that cuz there's still smaller desktop devices with touch:false, so...*/
@media screen and (min-width: 992px) {
    main {
        transition: all 0.2s ease-in-out;
        width: 25rem;
    }

    main:hover {
        box-shadow: 0px 11px 39px 9px hsl(210, 77%, 79%);
        transform: scale(1.01);
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }
}
