* {
    background: #d6e2f0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background: #ffffff;
    align-items: center;
    border: 2px solid white;
}

img {
    height: 270px;
    width: 270px;
    /* border: 10px solid white; */
    margin: 4px 4px;
}
